@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@500&family=Bree+Serif&family=Nunito+Sans:opsz,wght@6..12,200&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Baloo Bhai 2";
    text-align: center;
    font-size: 25px;
}
body{
    background: linear-gradient(45deg, rgb(126, 0, 243),rgb(18, 97, 245));
    min-height: 100vh;

}
h1{
    color: #ffffff;
}
.box{
    margin: 50px auto;
    padding:10px;
    width: 320px;
    background: #ffffff52;
    border-radius: 20px;
}
.container{
    margin: auto;
    padding: 10px;
    background:  black;
    width: 98%;

    border-radius: 10px;
}
.input{
    background: #000000;
    color: rgb(80, 156, 255);
    width: 100%;
    outline: 0;
    border: 4px solid rgb(74, 153, 255);;
    border-radius: 4px;
    padding: 5px;
    margin: 3px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: center;
}

.button{
    width: 25%;
    padding: 5px;
    margin: 2px;
    border: 0;
    outline: 0;
    border-radius: 4px;
}
.topbtn{
    width: 33.333333%;
    margin:3px;
}
.opr{
    background-color: rgb(17, 120, 255);
    color: white;
}
.opr:hover{
    background-color: rgb(59, 144, 255);
    color: white;
}
.opnd{
    background-color: #eef6ff;
}
.opnd:hover{
    background-color: rgb(253, 250, 246);
}

.clr{
    background-color: rgb(17, 120, 255);
    color: white;
}
.clr:hover{
    background-color: rgb(59, 144, 255);
}
@media only screen and (max-width:400px){
    .box{
        width:90%;
        height: 400px;
    }
    .container{
        max-height: 90%;
    }
    .button{
        height: 45px;
    }
    .input{
        padding: 0px 5px;
    }
}
